*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body{
	background-image: url("bg3.jpg.jpg");
	height: 200px;
	background-position: center;
	background-size: cover;
    
}

ul{
	float:center;
	list-style-type: none;
    margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 2px solid Tomato;
	font-family:poppins;
	font-size: 20px;
	transition: 0.7s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	right: 25%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #black;
	font-size: 70px;
}
